<h2>About</h2>

<p>Somos uma empresa que o foco principal está no cumprimento da felicidade de todos envolvidos em um dos momentos mais mágicos da vida.</p>
<img src="https://icons-for-free.com/free-icons/png/512/2884801.png" alt="Enjoy" style="width:500px;height:600px;">


