<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="backendicasei" content="">
  <meta name="diegoamaral" content="">

  <title>iCasei blog</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">iCasei simple home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">         
          <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>          
          <li class="nav-item">          
          <a class="nav-link" href="about">About</a>          
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="leads">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Bienvenue sur le iCasei</h1>
        <p class="lead">
        Olá visitante, seja bem vind@ a página home mais complexa desenvolvida em Rails. Esse campo poderia ser muito bem preenchido
        por um lorem ipsum, porém, há algo que nos leva a pensar além do item citado. Por exemplo, você 
        por algum motivo continua lendo essa mensagem, o que
        mostra que a vossa pessoa não desistirá tão fácil de chegar até o final, 
        pois é intrínseco ao ser humano o ato intenso de ver, ouvir, conhecer, experimentar algo; novo, original, desconhecido.
        Pois bem, isso é apenas uma pequena demonstração de que quando queremos algo, nós alcançamos!
        Obrigado pelo seu tempo.</p>        
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="/channels/bootstrap.bundle.min.js"></script>
</body>
</html>
